{% extends 'base.html' %}

            {% block content %}




<h1  > <a href="{% url 'books'   %} " > YOUR LIBRARY</a> </h1>
<h2> <a href="{% url 'google_books'   %} " > GOOGLE API </a></h2>

<h2> <a href="{% url 'add_book'  %} " >ADD BOOK </a>  </h2>


{% if messages %}
<h2 class="alert alert-dismissible alert-warning">
    {% for message in messages %}  {{ message }}   {% endfor %}
</h2>
{% endif %}


<form action="" method="get" class="form-group col-sm-10 form-label  ">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Search">
</form>


<h2> SEARCHED BOOKS:   </h2>
<p>  {% for book in  filtered_books %}
  <ul class="form-select">
    <li>
     <p>
      <div>
      <b>   {{ forloop.counter}})   </b>
       {% comment %} {{book.external_id}}   {% endcomment %}
      <b>  Title: </b>
      <a href="https://books.google.pl/books?id={{book.external_id}}"
      >{{book.title}}</a
  >
      <b>    Description: </b>  {{ book.description }}
      </div>
      <b> Published:  </b>  {{book.published_year}} <b> Acquired: </b> {{book.acquired}}
        <b> Authors: </b>
    {% for author in book.authors.all  %}

    {{author}}
    {%endfor%}
  <br>
    <img src="{{book.thumbnail}}" alt="No Image" />


  </p>
         <a href="{% url 'edit_book' book.id %} " ><button class="btn btn-warning">EDIT BOOK</button></a>
     <a href="{% url 'delete_book' book.id %} " ><button class="btn btn-danger">DELETE BOOK</button></a>

    </li>
  </ul>

        {% empty %}
         {% comment %} No search data from keyword: <b>{{ filtered_books  }} </b> {% endcomment %}
         No search data please fill form
      {% endfor %}







<p >  {% for book in all_books %}
  <ul class="form-select">
  <li>
   <p >  <div >
    <b>   {{ forloop.counter}})   </b>
    {% comment %} {{book.external_id}}  {% endcomment %}
     <b>  Title: </b>
      <a href="https://books.google.pl/books?id={{book.external_id}}"
      >{{book.title}}</a
  >
    <b>    Description: </b>  {{ book.description }}
    </div>
    <b> Published:  </b>  {{book.published_year}} <b> Acquired: </b> {{book.acquired}}
      <b> Author: </b>
  {% for author in book.authors.all %}

  {{author}}
  {%endfor%}
  <br>

  <img src="{{book.thumbnail}}" alt="No Image" />
     <a href="{% url 'edit_book' book.id %} " > <button class="btn btn-warning">EDIT BOOK</button></a>
 <a href="{% url 'delete_book' book.id %} " ><button class="btn btn-danger">DELETE BOOK</button></a>

  </li>
</ul>

{% endfor %}
             </p>

 {% endblock content %}