{% extends 'base.html' %}

            {% block content %}


<h1><a href="{% url 'books'   %} "> Your Library</a></h1>

<form action="" method="get">
    {% comment %} {% csrf_token %} {% endcomment %} {{ form }}
    <input type="submit" value="Search" />
</form>
<h2>Google API books:</h2>

{% if messages %}
<h2 class="messages">
    {% for message in messages %}  {{ message }}   {% endfor %}
</h2>
{% endif %}

<div>
    {% for book in books %}

    <li>
        <b> {{ forloop.counter}}) </b>

        <b> Title: </b>
        <a href="https://books.google.pl/books?id={{book.id}}"
            >{{book.volumeInfo.title}}</a
        >
        <b> Authors:</b> {{book.volumeInfo.authors|cut:"']"|cut:"['"|cut:"'" }}
        <br />
        <b> Image:</b>
        <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="No Image" />
    </li>
    {% endfor %}

    {% comment %} <form action="{% url 'books'%}" method="post"> {% endcomment %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="IMPORT BOOKS" />
    </form>
</div>


 {% endblock content %}