
<h1> <a href="{% url ''   %} " > BOOKS:</a> </h1>


<h2> <a href="{% url 'add_book'  %} " >ADD BOOK </a>  </h2>

{% include 'base_form.html' with form=form %}



<p>  {% for book in  filtered_books %}
  <ul>
    <li>
     <p>
      <div>
      <b>   {{ forloop.counter}})   </b>  {{book.external_id}}  <b>  Title: </b>    {{ book.title}}
      <b>    Description: </b>  {{ book.description }}
      </div>
      <b> Published:  </b>  {{book.published_year}} <b> Acquired: </b> {{book.acquired}}
        <b> Authors: </b>
    {% for author in book.authors.all %}

    {{author}}
    {%endfor%}
    <div>
       <a href="{% url 'edit_book' book.id %} " > EDIT BOOK </a>
      &nbsp <a href="{% url 'delete_book' book.id %} " > DELETE BOOK </a>
    </div>
  </p>
    </li>
  </ul>

        {% empty %}
         {% comment %} No search data from keyword: <b>{{ filtered_books  }} </b> {% endcomment %}
         No search data from provided keywords
      {% endfor %}







<p>  {% for book in all_books %}
  <ul>
  <li>
   <p> <b>   {{ forloop.counter}})   </b>  {{book.external_id}}  <b>  Title: </b>    {{ book.title}}
    <b>    Description: </b>  {{ book.description }}</p>
    <b> Published:  </b>  {{book.published_year}} <b> Acquired: </b> {{book.acquired}}
      <b> Author: </b>
  {% for author in book.authors.all %}

  {{author}}
  {%endfor%}

  </li>
</ul>
<h4>  <a href="{% url 'edit_book' book.id %} " > EDIT BOOK </a>
 &nbsp <a href="{% url 'delete_book' book.id %} " > DELETE BOOK </a>
</h4>
{% endfor %}
             </p>


